
.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background: white; */
}

form{
    margin: 50px 0px;
}

legend {
    font-size:1.2em;
    text-align: left;
}

.cardbody-color {
    background-color: #ebf2fa;
}
.buttons {
  padding-top: 0px;
  width: 100%;
  height: 20px;
}
