
.wrapper{
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px;
    max-width: 80%;
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.wrapper:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5) !important
}

.wrapper .title-al {
    text-align: center;
    padding-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.wrapper .title-al::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-box{
        display: block;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 80%;
        margin-top: 10px;
        margin-left: 150px;
        margin-bottom: 50px;
        border-radius: 5px;
}
