/* Global CSS */
.bio{
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    color: #506578;
}
.row-new {
    display: flex;
    width:100%;
    padding: 5px;

}

.col-new {
    width:50%;
    display: grid;
    padding: 5px;

}
.pic{
    text-align: center;
}
.container-new .title-new {
    padding-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container-new .title-new::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    max-width: 80%;
    width: 80%;
    background-color: #fff;
    /* padding: 25px 30px; */
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container-new:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5) !important
}

.social-icons{
    justify-content: center ;
    height: 32px;
    display: flex;
    gap: 2rem;
    /* justify-content: space-evenly; */
}

/* h3{
    position: relative;
    font-size: 24px;
}
h3 span {
    background-color: white;
    padding-right: 10px;
}
h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 2px solid slategray;
    z-index: -1;
} */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto", sans-serif;
    -moz-osx-font-smoothing: "Roboto", sans-serif;
    font-style: normal;
  }
  h1,
  h2,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  :root {
    --primary: #1eb2a6;
    --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
  }
  .btn {
    font-family: "Roboto";
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
  }
  .btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
  }
  .btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary);
  }
  .btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  .btn-primary:hover {
    color: var(--primary);
    background-color: var(--white);
  }
  
  /* Global CSS Ends */
 
  
  /* Hero Section Style */
  .hero--section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133.333px 85.333px 133.333px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    /* background-color: var(--bg-shade); */
  }
  .hero--section--content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .hero--section--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.333px;
  }
  .hero--section--content--box > button {
    margin-top: 21.333px;
  }
  .hero--section--title {
    font-size: 54.667px;
    font-weight: 500;
    line-height: 60px;
    align-self: stretch;
  }
  .hero--section--title--color {
    color: var(--primary);
  }
  .hero--section-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }
  .hero--section--img {
    display: flex;
  }
  .hero--section--img > img {
    border-radius: 100px;
    width: 60%;
    height: 60%;
  }
  /* Hero Section Style Ends */

  /* Responsive Screens */
  @media only screen and (max-width: 1800px) {
    .hero--section--title {
      font-size: 50px;
      line-height: 10px;
    }
  }
  
  @media only screen and (max-width: 1600px) {
    .skills--section--heading {
      font-size: 40px;
      line-height: 50px;
    }
    .skills--section--container {
      gap: 16px;
    }
    .skills--section--card {
      gap: 28px;
    }
    .skills--section--card--content {
      gap: 20px;
    }
    .skills--section--title {
      font-size: 23px;
      line-height: 30px;
    }
    .skills--section--description {
      font-size: 17.333px;
      line-height: 27px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .btn-outline-primary {
      display: none;
    }
    .hero--section {
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 70px;
    }
    .hero--section--title,
    .hero--section-description,
    .footer--content {
      text-align: center;
    }
    .skills--section--container,
    .about--section,
    .portfolio--section--container,
    .portfolio--container-box,
    .footer--link--container,
    .footer--items > ul,
    .footer--content--container {
      display: flex;
      flex-direction: column;
    }
    .skills--section,
    .portfolio--container,
    .hero--section--content,
    .hero--section--content--box {
      align-items: center;
    }
    .portfolio--container-box {
      gap: 30px;
    }
    .skills--section,
    .testimonial--section,
    .contact--section,
    .footer--container {
      gap: 20px;
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .about--section {
      gap: 20px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .testimonial--section--card {
      padding: 25px;
    }
    .hero--section--title,
    .skills--section--heading,
    .sections--heading {
      font-size: 35px;
      line-height: 40px;
    }
    .hero--section--content--box {
      gap: 10px;
    }
    .contact--form--container {
      width: 100%;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .footer--social--icon > ul,
    .footer--items > ul {
      padding: 0;
      align-items: center;
    }
    .divider {
      margin: 20px;
    }
  }
  
  /* Hamburger menu  */
  
  .nav__hamburger {
    display: none;
    width: 1.875rem;
    height: 1.313rem;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  
  .nav__hamburger__line {
    display: block;
    height: 0.188rem;
    width: 100%;
    background-color: #000000;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
  }
  
  @media screen and (max-width: 1200px) {
    .nav__hamburger {
      display: flex;
      z-index: 200;
    }
    .navbar--items {
      display: flex;
    }
    .navbar--items {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255);
      top: -20rem;
      left: 0;
      width: 100%;
      transition: all ease-in-out 0.4s;
    }
    .navbar--items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
    }
    .navbar--items ul li {
      text-align: center;
    }
    .navbar--items ul li a {
      padding: 0.5rem;
    }
    .navbar--items {
      z-index: -1000;
    }
    .navbar--items.active {
      top: 30px;
    }
    .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
  
    .nav__hamburger.active :nth-child(2) {
      opacity: 0;
    }
  
    .nav__hamburger.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
  }
  
  /* Responsive Screens Ends*/
  